.space {
  height: calc(100vh - 43.5px);
  overflow: auto;
  padding: 0 10px;
  .item {
    min-height: 150px;
    margin-bottom: 10px;
    &:nth-child(1) .main {
      background-color: rgba(241, 176, 79, .1);
    }
    &:nth-child(2) .main {
      background-color: rgba(125, 241, 90, .1);
    }
    &:nth-child(3) .main {
      background-color: rgba(160, 214, 245, .1);
    }
    &:nth-child(4) .main {
      background-color: rgba(223, 156, 214, .1);
    }
    .main {
      padding: 20px;
      box-sizing: border-box;
      p {
        line-height: 100px;
        text-align: center;
      }
    }
    .detail {
      height: 50px;
      margin-top: 10px;
      background-color: skyblue;
    }
  }
}
